run = "./start_app.sh"
hidden = [".config", "package-lock.json"]
language = "nodejs"

[nix]
channel = "stable-23_11"

[env]
XDG_CONFIG_HOME = "$REPL_HOME/.config"
PATH = "$REPL_HOME/node_modules/.bin:$REPL_HOME/.config/npm/node_global/bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config", "package.json"]

[deployment]
run = ["sh", "-c", "node server.js"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 5000
externalPort = 80